extends layouts/main
include mixins/videoPlayer

block content
    .video-detail__container
        //- .video__player 
        //-     video(src=`/${video.fileUrl}` controls width="1200")
        +videoPlayer({
            src:video.fileUrl
        })
        .video__info
            if loggedUser && video.creator.id === loggedUser.id
                a(href=routes.editVideo(video.id)) 
                    button Edit video
            h5.video__title=video.title
            pre.video__description=video.description
            if video.views === 1
                span.video__views 1 view
            else
                span.video__views #{video.views} views
            .video__author
                |uploaded by 
                a(href=routes.userDetail(video.creator.id))=video.creator.name
        .video__comments
            .my-comment
                if user
                    img.u-avatar(src=user.avatarUrl)
                else
                    img.u-avatar(src="/static/avatarURL_default.png")
                div.comment-form-container
                    form.add__Comment#jsAddComment
                        textarea(placeholder="Write a comment")
                        input(type="submit" value="Post")
            if video.comments.length === 1
                span.video__comment-number#jsCommentNumber 1 comment
            else
                span.video__comment-number#jsCommentNumber #{video.comments.length} comments
            ul.video__comments-list#jsCommentList
                each comment in video.comments.reverse()
                    li     
                        a(href=routes.userDetail(comment.creator.id))
                            img.u-avatar(src=comment.creator.avatarUrl)
                        pre
                            a(href=routes.userDetail(comment.creator.id))=comment.creator.name
                            | 
                            | #{comment.text} 
    script(type="text/javascript").
        let data = JSON.stringify(user)
                //- width="1304" height="748"